[submodule "3rd_party/JUCE"]
	path = 3rd_party/JUCE
	url = https://github.com/WeAreROLI/JUCE.git
[submodule "3rd_party/ff_meters"]
	path = 3rd_party/ff_meters
	url = https://github.com/ffAudio/ff_meters
